*{
    margin: 0;
    padding: 0;
}

.nombre{
    text-align: center;
}

.formulario{
    width: 50%;
    margin: auto;
}

.aceptar{
    padding: 5px;
    border-radius: 5px;
    background-color: #ff5075;
    width: 25%;
    color: #000;
    cursor: pointer;
}

.aceptar:hover{
    background-color: #ff2e53;
    color: #fff;
}

img{
    width: 40%;
    margin: 0 auto;
}

input{
    padding: 5px;
    border-radius: 8px;
    margin: 5px;
    outline: none;
}

input:focus{
    border-color: #ffb273;
}
select{
    padding: 5px;
    border-radius: 8px;
    outline: none;
}